/* Global styles */
html {
    scroll-behavior: smooth;
    overflow: hidden; /* Added to prevent main scrollbar */
}

body {
    margin: 0;
    padding: 20px;
    font-family: "Courier New", Courier, monospace;
    background-color: #2E424A; /* back ground */
    color: #5EFF00; /* font color */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Keep min-height for overall page structure */
    /* Removed text-align: center; */
    overflow: hidden; /* Added to prevent main scrollbar */
}

.container {
    max-width: 1200px;
    width: 100%;
    /* Removed margin: 0 auto; */
}

header {
    margin-bottom: 40px;
    padding-top: 0px; /* Reduced padding to the top of the header */
}

main {
    flex-grow: 1; /* Allow main to take up remaining space */
    /* Removed overflow-y: auto; */ /* Removed as body will handle overflow */
}

.ascii-art pre {
    font-family: "Courier New", Courier, monospace;
    white-space: pre;
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
}

.content {
    margin-top: 20px;
    text-align: left;
}

.content p {
    margin: 5px 0;
}

.links {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: left;
}

.links li {
    display: inline;
}

.links li:not(:last-child)::after {
    content: " / ";
}

a {
    text-decoration: none;
    color: #5EFF00;
}

section {
    display: none;
    margin-bottom: 40px;
}

section h2 {
    text-align: left;
}

section:target {
    display: block;
}

/* Media Queries */

/* For tablets */
@media (max-width: 768px) {
    .ascii-art pre {
        font-size: 12px;
    }
}

/* For mobile phones */
@media (max-width: 480px) {
    .ascii-art pre {
        transform-origin: top left;
        transform: scale(0.3);
        overflow: hidden;
    }
}
