/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2E424A; /* back ground */
    color: #5EFF00; /* font color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

/* Each state */

a:visited { text-decoration: none; color:#5EFF00; }
a:hover { text-decoration: none; color:#5EFF00; }
a:focus { text-decoration: none; color:#5EFF00; }
a:hover, a:active { text-decoration: none; color:#5EFF00 }
